.navbar {
    display: flex;
    flex-direction: column; /* Cambiar a columna para centrar verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    padding: 20px; /* Ajustar el padding */
    background-color: #0066cc;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center; /* Centrar el texto */
}

.navbar-logo img {
    height: 60px;
    width: auto;
}

.navbar-links {
    display: flex;
    gap: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffcc00;
}